<div>
    <div class="fflex mt10" style="align-items: flex-start;">
        <div>
            <el-select v-model="state.userNames" multiple placeholder="Select">
                <el-option
                        v-for="item in data.options"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                </el-option>
            </el-select>
            <sly-field>
                <sly-grid-gallery :content="data.previewContent"
                                  :options="data.previewOptions">
                </sly-grid-gallery>
            </sly-field>
            <el-button class="regular" type="primary" @click="command('show_info')">Update</el-button>
            <el-button class="regular" type="primary" @click="command('refresh_annotations')">Refresh</el-button>
        </div>
        <el-tabs type="border-card" class="ml10">
            <el-tab-pane label="Objects" style="height: 350px; overflow-y: auto">
                {% include 'src/ui/objects.html' %}
            </el-tab-pane>
            <el-tab-pane label="Tags" style="height: 200px; overflow-y: auto">
                {% include 'src/ui/tags.html' %}
            </el-tab-pane>
            <el-tab-pane label="Filters" style="height: 200px; overflow-y: auto">
                {% include 'src/ui/filters.html' %}
            </el-tab-pane>
        </el-tabs>
    </div>
</div>