<div>
    <sly-style>
        .beautiful-table { border-collapse: collapse; }
        .beautiful-table tr:nth-child(2n) { background-color: #f6f8fa; }
        .beautiful-table td, .beautiful-table th {
        border: 1px solid #dfe2e5;
        padding: 6px 13px;
        text-align: center;
        line-height: 20px;
        }
        .beautiful-table.al td, .beautiful-table.al th {
        text-align: left;
        }
    </sly-style>
    <sly-style>
        #sly-grid-gallery-active-figure-example .figures-list {
        width: 300px;
        margin-left: 15px;
        }

        #sly-grid-gallery-active-figure-example ul {
        list-style: none;
        padding-left: 0;
        }

        #sly-grid-gallery-active-figure-example li {
        cursor: pointer;
        line-height: 20px;
        }

        #sly-grid-gallery-active-figure-example li:hover {
        color: #20a0ff;
        }
    </sly-style>
    <div v-if="context.userId !== data.ownerId" style="color: red;">
        You don't have permissions to open this application session. App is available for team member {{data.ownerLogin}} (id={{data.ownerId}})
    </div>
    <div v-else class="fflex" style="align-items: flex-start;">
        {% include 'src/ui/gallery.html' %}
        {% include 'src/ui/filters.html' %}
    </div>
</div>